<div class="forecasts">
  <div class="search-field-container">
    <label>
      <span>Enter a location ID</span>
      <Input @value={{this.cityId}} class="light" />
    </label>

    <button type="button" class="button" {{on "click" this.search}}>
      Search
    </button>
  </div>

  {{#if this.loading}}
    Loading...
  {{/if}}

  <ul class="results">
    {{#each @forecasts as |forecast|}}
      <li><Forecast @forecast={{forecast}} /></li>
    {{/each}}
  </ul>
</div>
